<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="barra">

        <tr>
            <div>
                <td class="botonwilson">
                    
                    <img (click)="click()" class="iniciar" src="./assets/iniciar.png">
                      <h2>ISAAC GONZALEZ </h2> 
                    

                </td>
                <td class="botonwilson">
                    <img (click)="click()" class="marvellogo" src="./assets/marvel_logo.png">
                </td>

                <td class="botonwilson2">
                    <img (click)="click()" class="shield" src="./assets/icon-mu-shield.png">
                    <h3>UNLIMITED SUSCRIBE</h3>

                </td>
                


            </div>

        </tr>





    </div>
   
    <div class="prueba">
        <a href="" class="td">NEWS</a>
        <a href="" class="td">COMICS</a>
        <a href="" class="td">CHARACTERS</a>
        <a href="" class="td">MOVIES</a>
        <a href="" class="td">TV SHOWS</a>
        <a href="" class="td">GAMES</a>
        <a href="" class="td">VIDEOS</a>
        <a href="" class="td">MORE</a>     
      
       
    </div>
    <div class="showcase">
        <img src="./assets/background.jpeg" class="wrap" />
        <tr class="tr">
            <td>
                <img src="./assets/clean.jpeg" alt="clean" class="img" />
            </td>
            <td>
                <div class="bg-img-title">
                    WASP
        <tr>
            <td>
                <font> Published:</font> <br />
                <font> March 22,2023</font>
            </td>
        </tr>

        <tr>
            <td>
                <font> Writer:</font> <br />
                <font> Al Ewing</font>
            </td>
            <td>
                <font> Penciler:</font> <br />
                <font> Kasia Nie</font>
            </td>
        </tr>
        <div class="descripcion">
            WHO MADE THE WASP? Capture by an alliance of their oldestenemies, Janet and
            Nadia Van Dyne find themselves trapped in a past where a key part of their
            history - Henry Pym, in the Ant-Man - never existed at all. AS strange new
            lives play out around them, they must find their way back to the Wasp...or
            crease to exist entirely.
        </div>
        <a href=""> SEE VARIAN COVERS </a>

    </div>

    </td>
    </tr>




    </div>





</body>

</html>